@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins';
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.items {
    flex: 1 0 200px;
    display: flex;
}

.name {
    font-weight: 600;
    font-size: 30px;
}

.slide {
    height: 350px;
}

.title {
    font-size: 12px;
    font-weight: 800;
    color : #2B3A55;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inherit;
}

.harga {
    font-size: 11px;
    font-weight: 900;
}

.button-cart {
    width: 100%;
}